/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animation in fonts CSS */
.glory {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 60px;
    position: relative;
    border-bottom: 3px solid #c95b2c;
}

/* Fire animation */
@keyframes fire {
    0% { transform: scaleY(3); }
    50% { transform: scaleY(3.5); }
    100% { transform: scaleY(3); }
}

.glory::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #ffbb00, #ff0000);
    transform-origin: center bottom;
    animation: fire 1s infinite;
}

/* Body styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-image: url('images/bg.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    color: #050000;
    overflow-y: scroll;
}

/* Navigation Bar */
.navbar {
    background-color: #db2e0c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    border: 2px solid #fffdfdd8;
    border-radius: 5px;
    padding: 20px;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
}

.navbar ul li a:hover {
    color: #ffc800;
}

.small-navbar {
    display: none;
}

.small-navbar.show {
    display: block;
}

.small-navbar ul {
    list-style-type: none;
    padding: 0;
}

.small-navbar ul li {
    margin-bottom: 10px;
}

.small-navbar ul li a {
    text-decoration: none;
    color: #333;
}

.small-navbar ul li a:hover {
    color: #007bff;
}

/* Button Styles */
button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(255,0,0);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255,0,0);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

button span {
    margin: 10px;
}

button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

button:hover {
    color: #fff;
    border: 1px solid rgb(255,0,0);
}

button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #fff;
}

.description {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: rgb(209 213 219);
}

.form div {
    display: flex;
    max-width: 28rem;
    margin-top: 1rem;
    column-gap: 0.5rem;
}

.form div input {
    outline: none;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: rgb(255 255 255);
    padding: 0.5rem 0.875rem;
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 0.375rem;
    flex: 1 1 auto;
}

.form div input::placeholder {
    color: rgb(216, 212, 212);
}

.form div input:focus {
    border: 1px solid rgb(99 102 241);
}

.form div button {
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: rgb(99 102 241);
    border-radius: 0.375rem;
    border: none;
    outline: none;
}

/* Main Content Styles */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
}


.button {
    z-index: 500;
    box-shadow: rgba(124, 172, 226, 0.295) 2px 2px 8px;
    width: 15rem;
    height: 4rem;
    letter-spacing: 0.5rem;
    border: none;
    border-radius: 0.1rem;
    color: white;
    animation: universe-is-moving 2s infinite ease-out;
    background: linear-gradient(
      90deg,
      rgba(185, 43, 39, 1) 0%,
      rgba(21, 101, 192, 1) 100%
    );
    background-size: 200% 200%;
    animation-direction: alternate;
    background-position: 0% 100%;
    animation-name: universe-is-moving;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .moon {
    position: relative;
    left: 2rem;
    bottom: -2rem;
    right: 0;
    width: 20px;
    height: 20px;
    transform: translate3d(42px, -62px, -135px);
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 50%;
    animation: 3s  universe-moon infinite ease-in-out;
    animation-timing-function: linear;
  }
  
  #u {
    font-size: 1.2rem;
    animation: 3s ease-in-out universe-letters-are-moving infinite;
  }
  
  #n {
    font-size: 1.2rem;
    animation: 3s ease-in-out universe-letters-are-moving infinite;
    animation-delay: 200ms;
  }
  
  #i {
    font-size: 1.2rem;
    animation: 3s ease-in-out universe-letters-are-moving infinite;
    animation-delay: 400ms;
  }
  
  #v {
    font-size: 1.2rem;
    animation: 3s ease-in-out universe-letters-are-moving infinite;
    animation-delay: 600ms;
  }
  
  #e {
    font-size: 1.2rem;
    animation: 3s ease-in-out universe-letters-are-moving infinite;
    animation-delay: 800ms;
  }
  
  #r {
    font-size: 1.2rem;
    animation: 3s ease-in-out universe-letters-are-moving infinite;
    animation-delay: 1000ms;
  }
  
  #s {
    font-size: 1.2rem;
    animation: 3s ease-in-out universe-letters-are-moving infinite;
    animation-delay: 1200ms;
  }
  
  #e {
    font-size: 1.2rem;
    animation: 3s ease-in-out universe-letters-are-moving infinite;
    animation-delay: 1400ms;
  }
  
  #ee {
    font-size: 1.2rem;
    animation: 3s ease-in-out universe-letters-are-moving infinite;
    animation-delay: 1600ms;
  }
  
  @keyframes universe-is-moving {
    from {
      background-position: 0% 100%;
    }
  
    to {
      background-position: 100% 0%;
    }
  }
  
  @keyframes universe-letters-are-moving {
    0% {
      font-size: 1.2rem;
    }
  
    50% {
      font-size: 1.5rem;
    }
  
    100% {
      font-size: 1.2rem;
    }
  }
  
  @keyframes universe-moon {
    0% {
      z-index: 5;
      transform: translateY(-8em) translateX(10em);
    }
  
    50% {
      transform: translateX(0.5em) translateY(-1em);
    }
  
    100% {
      transform: translateY(-8em) translateX(10em);
      z-index: -5;
    }
  }
  