/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animation in fonts CSS */
.glory {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 60px;
    position: relative;
    border-bottom: 3px solid #c95b2c;
}

/* Fire animation */
@keyframes fire {
    0% { transform: scaleY(3); }
    50% { transform: scaleY(3.5); }
    100% { transform: scaleY(3); }
}

.glory::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #ffbb00, #ff0000);
    transform-origin: center bottom;
    animation: fire 1s infinite;
}

/* Body styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-image: url('images/bg.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    color: #050000;
    overflow-y: scroll;
}

/* Navigation Bar */
.navbar {
    background-color: #db2e0c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    border: 2px solid #fffdfdd8;
    border-radius: 5px;
    padding: 20px;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
}

.navbar ul li a:hover {
    color: #ffc800;
}

.small-navbar {
    display: none;
}

.small-navbar.show {
    display: block;
}

.small-navbar ul {
    list-style-type: none;
    padding: 0;
}

.small-navbar ul li {
    margin-bottom: 10px;
}

.small-navbar ul li a {
    text-decoration: none;
    color: #333;
}

.small-navbar ul li a:hover {
    color: #007bff;
}